<h1>Lista de clientes</h1>
<%= link_to 'Novo Cliente', new_client_path, class: 'btn btn-primary mb-3' %>
<table>
  <thead>
    <tr>
      <th>Nome:</th>
      <th>E-mail:</th>
      <th>Telefone:</th>
      <th>Endereço:</th>
      <th>Ações:</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td>
          <%= link_to "View", client %>
          <%= link_to "Edit", edit_client_path(client) %>
         <!-- Força fallback para método clássico -->
<%= link_to "Delete", client, 
method: :delete, 
data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>